<div class="jumbotron center">
  <h2>New Trademark</h2>
  <h4>Next Steps</h4>
</div>

<div class="panel-group">
    
  <div class="panel panel-default">
    <div class="panel-heading">Filing the Application</div>
      <div class="panel-body">The information you provided will be incorporated into a trademark application. A
      text version of the application will be sent to the email address you provided. With your approval, the
      application will be uploaded to the US Patent and Trademark Office for processing. If you do not receive the
      text version of the application, it is incorrect or needs to be changed, or you have any questions, please
      contact us.</div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">Tracking Your Application on OliverClarity</div>
      <div class="panel-body">The USPTO will issue a Serial Number for your application when the application
      is submitted. We will post the number on your page as confirmation of filing. We will periodically
      update your OliverClarity dashboard as the application goes through the registration process. This
      includes posting any documents received from the USPTO as well as noting new deadlines. The registration
      process typically takes between 12 and 18 months.</div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading">USPTO Review</div>
      <div class="panel-body">The USPTO will assign an examiner who will review the application. The examiner
      may accept the application as is, request procedural amendments, or refuse registration for
      substantive reasons (such as likelihood of confusion with another mark or that the mark does not
      meet the legal criteria for registration. We will respond to issued actions as appropriate.</div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">Publication & Registration</div>
      <div class="panel-body">Once the examining attorney has accepted the registration, notice will be
      published in the Official Gazette. This gives the public an opportunity to oppose registration of
      a mark. Assuming no objection is lodged, after publication, a registration number and certificate
      will be issued by the USPTO.</div>
  </div>

</div>


<div class="center">
   <%= link_to "Continue", /show.html.erb, class: "btn btn-lg" %>
</div>