<div class="jumbotron center">
  <h2>New Trademark</h2>
  <h4>Answers to FAQ and Intake Form</h4>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">What is a trademark?</div>
      <div class="panel-body">A trademark identifies the source of goods and services. The Nike Swoosh, the blue Twitter bird, and the Warner Brothers
      'WB' are all examples of trademarks. When you see those identifiers, you know from which company certain goods or services originate.
      </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">What is trademark registration?</div>
      <div class="panel-body">You own a trademark as soon as you use it in commerce, like posting it on a website accessible to the public or including
      it in a brochure. Registration puts the country and potentially the world on notice that you have exclusive rights to use the
      trademark. The United States Patent & Trademark Office maintains a database of registered marks which can be searched to see if a mark is already
      in use.
      </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">How is a trademark registered?</div>
      <div class="panel-body">We will prepare an application to submit to the USPTO based on the information you provide. We will submit it to you
      in text form to review, and with your approval upload it to the USPTO website. Approximately three months later, the USPTO will assign an examining
      attorney to review the application. The application will either be approved for publication or an office action will issue explaining
      the examiner's objections to registration. Most objections are procedural and can be remedied by minor changes to the application.
      The application is then published nationwide for public objection. Assuming there is no objection from the public, a certificate of registration
      issues. The entire process usually takes approximately 12-14 months.
      </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">Form Instructions</div>
      <div class="panel-body">Please complete this form in full. If you have any questions, do not hesitate to contact us.
      </div>
  </div>
</div>

<%= render 'form', mark: @mark %>

