<div class="jumbotron">
    <div class="headline">
        <h1><span style="color:#f2b632">O</span>liver<span style="color:#f2b632">C</span>larity</h1>
    </div>
            <div class="subjumbo">
                <p>Empowering Entrepreneurs</p>
            </div>
</div>
    <div class="center">
    <%= image_tag "bulb.jpg" %>
    </div>

<br>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">OliverClarity is not a law firm. We don't offer legal services. We offer something much better!
        OliverClarity is a unique management tool that empowers entrepreneurs to get what they really want from legal services: Control, Security, 
        and Freedom of Focus.</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">Entrepreneurs want control over their businesses and they want their lawyers to give them the information
        needed to make good decisions. OliverClarity provides the tools to access, manage, and organize the information needed to make key choices
        quickly and confidently.</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">Entrepreneurs want to know that they've done everything they can to make their ventures succeed. They want to
        go to sleep at night feeling protected and secure. OliverClarity keeps track of issues and helps ensure that there
        are no 'loose ends'.</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">Entrepreneurs want freedom to focus on the passion that led them to start a business, and to avoid cumbersome legal 
        issues. OliverClarity provides an efficient, effective tool for organizing and managing legal needs.</div>
    </div>
</div>
<br>
<br>
<h3>Sample Features</h3>
<br>
<div class="table-bordered">
    <table class="table">
        <tr>
            <th>Organize</th>
            <th>Collaborate</th>
            <th>Manage</th>
        </tr>
        <tr>
            <td>Track Deadlines</td>
            <td>Share Information</td>
            <td>Keep Meeting Minutes</td>
        </tr>
        <tr>
            <td>Store Files</td>
            <td>Real Time Collaboration</td>
            <td>Register Trademarks</td>
        </tr>
        <tr>
            <td>Budget</td>
            <td>Find Lawyers</td>
            <td>Website Terms of Service</td>
        </tr>
    </table>
</div>
<br>
<br>
<br>
<h3>Subscription Options</h3>
    <div class="table-bordered">
        <table class="table">
            <tr>
                <th>Plan</th>
                <th>Cost</th>
                <th>Extras</th>
            </tr>
            <tr>
                <td>Monthly</td>
                <td>$49.99 per month</td>
                <td>One free hour of attorney consultation per month*</td>
            </tr>
            <tr>
                <td>Yearly</td>
                <td>$39.99 per month (one payment of $479.88)</td>
                <td>Save $120.00, one free hour of attorney consultation per month*</td>
            </tr>
        </table>
    </div>

<small class="container">
    *Attorney consultation with a lawyer from list provided by OliverClarity. Consultation is for 60
    minutes subject to attorney's availability. Attorney is an independent legal services provider and
    not an employee, partner, or agent of OliverClarity. See Terms of Service for more information.
</small>

<div class="center">
    <button class="btn btn-link"><%= link_to "Featured Attorneys", lawyers_path %></button>
</div>

<div class="center">
    <button class="btn btn-link"><%= link_to "Subscribe Now", new_user_path %></button>
    <button class="btn btn-link"><%= link_to "Contact Us", contact_path %></button>
</div>
