<div class="jumbotron">
    <div class="headline">
        <h1><span style="color:#f2b632">O</span>liver<span style="color:#f2b632">C</span>larity</h1>
    </div>
            <div class="subjumbo">
                <p>Empowering Entrepreneurs</p>
            </div>
</div>

<div class="container">
        <p>OliverClarity is not a law firm. We do not provide legal services. What we're offering is actually much better.</p> 
        <br>
        <p>The economy and the marketplace are constantly changing as new technologies come on line. Industries and opportunities that were
        once the exclusive province of multinational corporations are now open to entrepreneurs of all stripes.</p>
        <br>
        <p>You can keep track of what's going on in your legal world from one dashboard . . . and then get back to work on building and
        running your business.</p>

</div>
