<div class="center jumbotron">
    <h2>Empowering Entrepreneurs</h2>
</div>

<div class="container">
        <p>OliverClarity is not a law firm. We do not provide legal services. What we're offering is actually much better.</p> 
        <br>
        <p>The economy and the marketplace are constantly changing as new technologies come on line. Industries and opportunities that were
        once the exclusive province of multinational corporations are now open to entrepreneurs of all stripes.</p>
        <br>
        <p>Our mission is to give you the control you need to tackle legal needs and the security you want in knowing that issues are being
        addressed and needs being met. No more waiting for your attorney to call you with an update, wondering what projects need to be completed, 
        or worrying about how steep this month's fee invoice will be.</p>
        <br>
        <p>You can keep track of what's going on in your legal world from one dashboard . . . and then get back to work on building and
        running your business.</p>

</div>
