
<div class="jumbotron">
  <h1 class="jumbo-h1"><span class="gold">O</span>liver<span class="gold">C</span>larity</h1>
</div>

<div class="subjumbo">
    <p>Organize and manage business legal needs.</p>
    <p class="subjumbo_text">Make key choices quickly and confidently. Sleep at night feeling protected and secure.<p>
</div>

<div class="center call">
    <button class="btn btn-link"><%= link_to "Subscribe Now", new_user_path %></button>
</div>

    <div class="row text-center">
      <div class=" center col-md-3">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x gold"></i>
              <i class="fa fa-key fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Control</h4>
          <p >Entrepreneurs want to make all of the key decisions that impact their businesses. OliverClarity gives you
          easy access to the information necessary to take control of your company's legal needs.
        </p>
      </div>
      <div class="center col-md-3">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x gold"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Security</h4>
          <p >Entrepreneurs want to know that their companies have complied with applicable laws and minimized the risks
          of lawsuits and regulatory investigations. OliverClarity gives you the tools you need to make sure that there are no loose ends.</p>
      </div>
      <div class="center col-md-3">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x gold"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Get Started</h4>
          <p >Entrepreneurs want legal services delivered quickly and efficiently. OliverClarity streamlines routine functions like corporate
          formation and compliance and allows seamless coordination with counsel on more complex matters.</p>
      </div>
    </div>

<div class="center info_box">
        <p>OliverClarity is not a law firm. We don't offer legal services. We offer something much better!
        OliverClarity is a unique management tool that empowers entrepreneurs to get what they really want from legal services: Control, Security,
        and Freedom of Focus. You can focus on the passion that led you to start your business, avoid cumbersome legal issues, and
        rest assured that you've done everything you can to make your venture succeed and tie up loose ends.<p>
</div>

<div class="home_table">
    <h3>Sample Features</h3>
        <div class="table-bordered">
            <table class="table">
                <tr>
                    <th>Organize</th>
                    <th>Collaborate</th>
                    <th>Manage</th>
            </tr>
            <tr>
                <td>Calendar and Track Deadlines</td>
                <td>Securely Share Files & Information</td>
                <td>Keep Meeting Minutes and Records</td>
            </tr>
            <tr>
                <td>Maintain Updated Files</td>
                <td>Collaborate in Real Time</td>
                <td>Register Trademarks</td>
            </tr>
            <tr>
                <td>Budget & Track Legal Spend</td>
                <td>Find Lawyers</td>
                <td>Draft Website Terms of Service</td>
            </tr>
        </table>
    </div>

<h3>Subscription Options</h3>
    <div class="table-bordered">
        <table class="table">
            <tr>
                <th>Plan</th>
                <th>Cost</th>
                <th>Extras</th>
            </tr>
            <tr>
                <td>Monthly</td>
                <td>$49.99 per month</td>
                <td>One free hour of attorney consultation per month
                    <small>(See TOS for terms and conditions)</small>
                </td>
            </tr>
            <tr>
                <td>Yearly</td>
                <td>$39.99 per month (one payment of $479.88)</td>
                <td>Save $120.00, one free hour of attorney consultation per month
                    <small>(See TOS for terms and conditions)</small>
                </td>
            </tr>
        </table>
    </div>
</div>
