
<div class="jumbotron">
  <h1 class="jumbo-h1"><span class="gold">O</span>liver<span class="gold">C</span>larity</h1>
  <div class="subjumbo">
    <p>Your legal team. On demand.</p>
  </div>
</div>

<div class="row text-center">
      <div class="col-md-3">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x gold"></i>
              <i class="fa fa-key fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Control</h4>
          <p \>Entrepreneurs want to make all of the key decisions that impact their businesses. OliverClarity gives you
          easy access to the information necessary to take control of your company's legal needs.
        </p>

      </div>
      <div class="col-md-3">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x gold"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Security</h4>
          <p >Entrepreneurs want to know that their companies have complied with applicable laws and minimized the risks
          of lawsuits and regulatory investigations. OliverClarity gives you the tools you need to make sure that there are no loose ends.</p>

      </div>
      <div class="col-md-3">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x gold"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Get Started</h4>
          <p >OliverClarity provides the basic services almost every start up needs: incorporation, trademark registration,
           and website terms of service. Documents created efficiently and inexpensively specifically for your business.</p>

      </div>
      <div class="col-md-3">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x gold"></i>
              <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Build and Grow</h4>
          <p >As your business grows, OliverClarity gives access to lawyers that handle a host of different issues like
          patent filings, international transactions, securities offerings, and litigation. Build a legal team - a corporate legal department -
          especially for your business.</p>
      </div>
  </div>
<br>
<div class="center button-grp">
    <button class="btn btn-link"><%= link_to "Learn More", about_path %></button>
    <button class="btn btn-link"><%= link_to "Subscribe Now", new_user_path %></button>
    <button class="btn btn-link"><%= link_to "For Attorneys", new_attorney_path %></button>
</div>
</div>
