<div id="homepage">

<div class="jumbotron">
  <h1 class="jumbo-h1"><span class="gold">O</span>liver<span class="gold">C</span>larity</h1>
</div>

<div class="subjumbo">
    <p>Organize and manage business legal needs.</p>
    <p class="subjumbo_text">Make key choices quickly and confidently. Sleep at night feeling protected and secure.<p>
</div>

<div class="center call">
    <button class="btn btn-link"><%= link_to "Subscribe Now", new_user_path %></button>
</div>

    <div class="row text-center">
      <div class=" center col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x gold"></i>
              <i class="fa fa-key fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Control</h4>
          <p >Entrepreneurs want to make all of the key decisions that impact their businesses. OliverClarity gives you
          easy access to the information necessary to take control of your company's legal needs.
        </p>
      </div>
      <div class="center col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x gold"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Security</h4>
          <p >Entrepreneurs want to know that their companies have complied with applicable laws and minimized the risks
          of lawsuits and regulatory investigations. OliverClarity gives you the tools you need to make sure that there are no loose ends.</p>
      </div>
      <div class="center col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x gold"></i>
          <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Get Started</h4>
        <p >Entrepreneurs want legal services delivered quickly and efficiently. OliverClarity streamlines routine functions like corporate
        formation and compliance and allows seamless coordination with counsel on more complex matters.</p>
      </div>
    </div>

    <div class="center info_box">
      <p>OliverClarity is not a law firm. We don't offer legal services. We offer something much better!
      OliverClarity is a unique management tool that empowers entrepreneurs to get what they really want from legal services: Control, Security,
      and Freedom of Focus. You can focus on the passion that led you to start your business, avoid cumbersome legal issues, and
      rest assured that you've done everything you can to make your venture succeed and tie up loose ends.<p>
    </div>

<div class="home_table">
  <h3>Sample Features</h3>
  <div class="table-bordered">
    <table class="table">
        <tr>
          <th>Organize</th>
          <th>Collaborate</th>
          <th>Manage</th>
        </tr>
        <tr>
          <td>Calendar and Track Deadlines</td>
          <td>Securely Share Files & Information</td>
          <td>Keep Meeting Minutes and Records</td>
        </tr>
        <tr>
          <td>Maintain Updated Files</td>
          <td>Collaborate in Real Time</td>
          <td>Register Trademarks</td>
        </tr>
        <tr>
          <td>Budget & Track Legal Spend</td>
          <td>Find Lawyers</td>
          <td>Draft Website Terms of Service</td>
        </tr>
      </table>
  </div>
  <h3>Subscription Options</h3>
  <div class="table-bordered">
    <table class="table">
        <tr>
          <th>Plan</th>
          <th>Cost</th>
          <th>Extras</th>
        </tr>
        <tr>
          <td>Monthly</td>
          <td>$49.99 per month</td>
          <td>One free hour of attorney consultation per month
          <small>(See TOS for terms and conditions)</small>
          </td>
        </tr>
        <tr>
          <td>Yearly</td>
          <td>$39.99 per month (one payment of $479.88)</td>
          <td>Save $120.00, one free hour of attorney consultation per month
              <small>(See TOS for terms and conditions)</small>
          </td>
        </tr>
      </table>
  </div>
</div>




<br>
<hr>
<br>
<div class="container">
  <section class="home-header">
    <h1 class="jumbo-h1"><span class="gold">O</span>liver<span class="gold">C</span>larity</h1>
    <h2>Organize and manage business your legal needs.</h2>
  </section>

  <section class="thumbnails">
    <div class="row text-center">
      <div class="center col-md-4">
          <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x brown"></i>
              <i class="fa fa-key fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Control</h4>
          <p>You want to make key decisions that impact your businesses. </p>
          <br>
          <br>
          <p>OliverClarity gives you easy access to the information necessary to take control of your company's legal needs.
          </p>
      </div>
      <div class="center col-md-4">
          <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x brown"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Security</h4>
          <p >You want to know that your company has complied with applicable laws and minimized risks of lawsuits and regulatory investigations.</p>
          <br>
          <p>OliverClarity gives you the tools you need to make sure that there are no loose ends.</p>
      </div>
      <div class="center col-md-4">
          <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x brown"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Get Started</h4>
          <p >You want legal services delivered quickly and efficiently. </p>
          <br>
          <br>
          <p>OliverClarity streamlines routine functions like corporate
          formation and compliance and allows seamless coordination with counsel on more complex matters.</p>
      </div>
    </div>
  </section>
  <section  class="gray-section">
    <div class="container">
      <row >
        <h1>We Are Not A Law Firm</h1>
        <h3>We don't offer legal services. We offer something much better.</h3>
        <p>OliverClarity is a unique management tool that empowers entrepreneurs to get what they really want from legal services: Control, Security,
        and Freedom of Focus. You can focus on the passion that led you to start your business, avoid cumbersome legal issues, and
        rest assured that you've done everything you can to make your venture succeed and tie up loose ends.<p>

        <a href="#" class="btn btn-lg btn-warning ">Subscribe</a>
      </row>
    </div>
  </section>
  <section>
    <h3 class="right-line">Features</h3>

		<!-- Features Boxes -->
  	<div class="row">
    	<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="fa fa-calendar"></i></div>
					<div class="info">
						<h3 class="title">Organize</h3>
    					<p>Calendar and Track Deadlines	</p>
    					<p>Maintain Updated Files</p>
    					<p>Budget & Track Legal Spend</p>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="fa fa-cogs"></i></div>
					<div class="info">
						<h3 class="title">Collaborate</h3>
    					<p>CSecurely Share Files & Information</p>
    					<p>Collaborate in Real Time</p>
    					<p>Find Lawyers</p>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="fa fa-briefcase"></i></div>
					<div class="info">
						<h3 class="title">Manage</h3>
    					<p>Keep Meeting Minutes and Records	</p>
    					<p>Register Trademarks</p>
    					<p>Draft Website Terms of Service</p>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>
		<!-- Features Boxes -->
	</div>
  </section>
  <br>

  <section  class="orange-section">
    <div class="container">
      <row >
        <h2>Take Control Of Your Legal Services Today</h2>
      </row>
    </div>
  </section>

  <section>
    <div class="row">
        <h3 class="right-line">Subscription Options</h3>
      </div>
    <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricing-box animated fadeInUp animation-delay-7">
                    <div class="pricing-box-header">
                        <h2>Monthly</h2>
                        <p>Twelve Payments</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 49.99 <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="fa fa-inbox"></i> One free hour of attorney consultation per month.</li>
                            <li><i class="fa fa-cloud-download"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-dashboard"></i> Exercitation in id in officia.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a href="#" class="btn btn-ar btn-default gold-back">Subscribe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-box pricing-box-pro animated fadeInUp animation-delay-9">
                    <div class="pricing-box-header">
                        <h2>Quarterly</h2>
                        <p>Four Payments</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 49.99 <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="fa fa-inbox"></i> One free hour of attorney consultation per month.</li>
                            <li><i class="fa fa-cloud-download"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-dashboard"></i> Exercitation in id in officia.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a href="#" class="btn btn-ar btn-default gold-back">Subscribe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-box animated fadeInUp animation-delay-8">
                    <div class="pricing-box-header">
                        <h2>Annual</h2>
                        <p>One Payment</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 39.99 <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="fa fa-inbox"></i> One free hour of attorney consultation per month.</li>
                            <li><i class="fa fa-cloud-download"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-dashboard"></i> Exercitation in id in officia.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a href="#" class="btn btn-ar btn-default gold-back">Subscribe</a>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
  </section>

  </div>
