<div class="jumbotron center">
    <h1>OliverClarity</h1>
    <h3>Your legal team. On demand.</h3>
</div>

<div class="center">
   <%= link_to "Subscribe now!", subscribe_path, class: "btn btn-link" %>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Take Control</div>
            <div class="panel-body">OliverClarity gives entrpreneurs control over their business' legal needs. We provide you with the tools that
            protect your company from risk - all on one dashboard - so you can focus on building your business and realizing your goals.</div>
    </div>
    
    
    <div class="panel panel-default">
        <div class="panel-heading">Feel Secure</div>
            <div class="panel-body">Security is knowing that your company's legal needs have been addressed. So don't wait for your lawyer
            to call you back. Upload files, share calendars, communicate with counsel, keep track of deadlines, monitor legal spend. All from your 
            home or office.</div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">Just Getting Started?</div>
            <div class="panel-body">Get the basic services almost every start up needs: Incorporation, trademark registration, and 
            website terms of service. Documents created efficiently and inexpensively especially for your business.
            </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">Grow Big. Go Big.</div>
            <div class="panel-body">As your business grows, it will need a team of lawyers to handle a host of different issues like patent filings,
            international transactions, securities offerings, and litigation. Build a legal team - a corporate legal department - especially
            for your business.</div>
    </div>
</div>

