
<div class="jumbotron center">
    <h1>OliverClarity</h1>
    <h3>Legal Management for Entrepreneurs</h3>
</div>


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Control</div>
            <div class="panel-body">Entrepreneurs want to make all of the key decisions that impact their businesses. OliverClarity gives you the
            easy access to the information needed to take control of your company's legal needs.</div>
    </div>
    
    
    <div class="panel panel-default">
        <div class="panel-heading">Security</div>
            <div class="panel-body">Entrepreneurs want to know that their companies have complied with applicable laws and minimized the risks
            of lawsuits and regulatory investigations. OliverClarity gives you the tools you need to make sure that there are no loose ends.</div>
    </div>
</div>
<br>
<div class="page-header">
    <h2>OliverClarity gives entrepreneurs the power to make good business decisions and security in the knowledge that they 
    have done what's necessary to build a successful venture.</h2>
</div>
<br>
<br>
<div class="panel-group">    
    <div class="panel panel-default">
        <div class="panel-heading">Getting Started</div>
            <div class="panel-body">OliverClarity provides the basic services almost every start up needs: Incorporation, trademark registration,
             and website terms of service. Documents created efficiently and inexpensively especially for your business.
            </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">Build and Grow</div>
            <div class="panel-body">As your business grows, OliverClarity provides a team of lawyers to handle a host of different issues like
            patent filings, international transactions, securities offerings, and litigation. Build a legal team - a corporate legal department - 
            especially for your business.</div>
    </div>
</div>
<br>
<div class="center">
   <%= link_to "Subscribe now!", subscribe_path, class: "btn btn-link" %>
</div>

