<div class="center jumbotron">
    <div class="headline">
        <h1><span style="color:#f2b632">O</span>liver<span style="color:#f2b632">C</span>larity</h1>
    </div>
    <div class="subjumbo">
        <p>Featured Attorneys</p>
    </div>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Featured Attorneys</div>
            <div class="panel-body">OliverClarity puts the entrepreneur in control of its legal needs and you can use it with whatever lawyers you choose.
            This page contains links to some featured attorneys who provide services to new and developing businesses. Each featured lawyer has his or her
            own privatepractice. They are not affiliated with OliverClarity or each other.</div>
    </div>
<br>
    <div class="panel panel-default">
        <div class="panel-heading">Build a Company Legal Department</div>
            <div class="panel-body">As your business grows so will its legal needs. OliverClarity lets you build your own team of corporate lawyers. 
            Featured attorneys are private practitioners who work with entrepreneurial clients. Solo and small firm lawyers can provide outstanding 
            services, often for less than what you would have to pay a large firm. Instead of hiring attorneys with billable hour quotas who answer first
            to law firm partner committees, OliverClarity gives you the chance to build a team of lawyers who answer only to business owners and 
            managers.</div>
    </div>
</div>
<br>
<br>
<div class="table-bordered">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Location</th>
            <th>LinkedIn Profile</th>
            <th>Schedule a Consultation</th>
        </tr>
        <tr>
            <td>Stephen Ganis</td>
            <td>ganis@email.com</td>
            <td>Stamford, Connecticut</td>
            <td>LinkedIn Profile</td>
            <td>Schedule a Consultation</td>
        </tr>
        <tr>
            <td>Cindy Salvo</td>
            <td>salvo@email.com</td>
            <td>Fair Lawn, New Jersey</td>
            <td>LinkedIn Profile</td>
            <td>Schedule a Consultation</td>
        </tr>
        <tr>
            <td>Justin Meyer</td>
            <td>meyer@email.com</td>
            <td>Hauppage, New York</td>
            <td>LinkedIn Profile</td>
            <td>Schedule a Consultation</td>
        </tr>
        <tr>
            <td>Ryan Morrison</td>
            <td>morrison@email.com</td>
            <td>Astoria, New York</td>
            <td>LinkedIn Profile</td>
            <td>Schedule a Consultation</td>
        </tr>
        <tr>
            <td>Steven Fried</td>
            <td>fried@email.com</td>
            <td>New York, New York</td>
            <td>LinkedIn Profile</td>
            <td>Schedule a Consultation</td>
        </tr>
    </table>
</div>