<div class="jumbotron">
  <h1 class="jumbo-h1"><span class="gold">O</span>liver<span class="gold">C</span>larity</h1>
</div>

<div class="subjumbo">
    <p>Trademark Information & Tools</p>
</div>

<div class="container">
    <section class="gray-section">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-question fa-stack-1x"></i>
            </span>
                <h3>In a nutshell . . .</h3>
                <div class="tools">
                    <p>A trademark identifies the source of goods or services, like the Nike swoosh. If you buy a pair of shoes with the swoosh on it,
                    you know they are Nikes. There is a difference between registering a trademark and owning a trademark. Trademarks are different from
                    copyrights and patents. A copyright protects duplication of books, music, artwork, and the like. A patent protects inventions. You
                    own a trademark once you use it in commerce, for example by putting it on a brochure or website. You register the trademark to put 
                    the entire country, and potentially most of the world on notice of your exclusive use rights. Trademarks are used for goods and
                    service marks for services. There is no functional difference between them. Registering a trademark protects in value as a brand 
                    identifier and makes it easier for you to protect your rights to the mark.</p>
                </div>
    </section>
</div>

<div class="container">
    <section class="tools_middle">
        <div class="row">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-exclamation fa-stack-1x"></i>
        </span>
            <h3>Don't forget . . .</h3>
            <p>The owner of a trademark is the first to use it, not the first to register it.</p>
            <p>You can apply for registration even if the mark is not being used in commerce.</p>
            <p>After registration, you are required to file proof of continued use of the mark with the USPTO every 5 years.</p>
            <p>You use the TM for unregistered marks and R for registered marks.</p>
    </section>
    </div>
</div>


<div class="container">
    <section class="gray-section">
        <div class="row">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-trademark fa-stack-1x"></i>
            </span>
                <h3>Applying for registration . . .</h3>
                <div class="tools">
                    <p>You register a trademark by filing an application with the U.S. Patent & Trademark Office. Before submitting the
                    application, it should be reviewed to make sure (i) it can be registered and (ii) someone else hasn't already
                    registered it. Not all brand identifiers can be registered and there are numerous grounds for rejecting and application. 
                    For example, a mark that is merely descriptive of goods or services will not be accepted. Once it's determined that the mark
                    can be registered, the application is completed and filed. You must provide the USPTO with speciments and other relevant 
                    information. The application is assigned for review by an examining attornery who may accept it as is, ask for procedural
                    adjustments, or reject it on substantive grounds. If the application is accepted, the mark will be published in the
                    Official Register in case of public objection. Assuming there is no objection, the mark will be registered.</p>
        </div>
    </section>
</div>