<div class="jumbotron">
    <div class="headline">
        <h1><span style="color:#f2b632">O</span>liver<span style="color:#f2b632">C</span>larity</h1>
    </div>
            <div class="subjumbo">
                <p>News</p>
            </div>
</div>

<div class="container">
        <p>OliverClarity is ready to launch!</p>
        <p>Visit this page from time to time to learn more about OliverClarity.</p>
</div>