<div class="jumbotron">
    <div class="headline">
        <h1><span style="color:#f2b632">O</span>liver<span style="color:#f2b632">C</span>larity</h1>
    </div>
            
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel panel-heading">It's been years in the making . . .</div>
            <div class="panel panel-body"> . . . and now it's here. Welcome to OliverClarity. This is our beta test, meaning that we are putting 
            this new service in front of a few select users so we can make sure it works properly and get your feedback. We're operating a 
            so-called "lean" business plan. In other words, we're putting out a minimum viable product to start. This is our version of what we
            think you want. The plan going to forward is to learn what you like about the service and what you think needs to be changed. We will 
            build OliverClarity based in large measure on your feedback. So if you notice something not working correctly or
            have suggestions to improve the service or thoughts about new features, we want to hear them. There is no charge to use 
            OliverClarity while it's in beta. However, as we tinker with the code and add new features, there may be periodic service 
            interruptions. We will always try to post in advance if we take the service offline for maintenance or updates.</div>
    </div>
</div>
        <br>
        <h4 class="center">Visit this page from time to time to learn more about OliverClarity.</h4>
