<div class="center jumbotron">
    <h2>News</h2>
</div>

<div class="container">
        <p>OliverClarity is ready to launch!</p>
        <p>Visit this page from time to time to learn more about OliverClarity.</p>
</div>