
<div class="jumbotron">
  <h1 class="jumbo-h1"><span class="gold">O</span>liver<span class="gold">C</span>larity</h1>
  <div class="subjumbo">
    <p>Your legal team. On demand.</p>
  </div>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Control</div>
            <div class="panel-body">Entrepreneurs want to make all of the key decisions that impact their businesses. OliverClarity gives you
            easy access to the information necessary to take control of your company's legal needs.</div>
    </div>
     <br>
     <br>

    <div class="panel panel-default">
        <div class="panel-heading">Security</div>
            <div class="panel-body">Entrepreneurs want to know that their companies have complied with applicable laws and minimized the risks
            of lawsuits and regulatory investigations. OliverClarity gives you the tools you need to make sure that there are no loose ends.</div>
    </div>
</div>

<br>
<div class="center">
    <%= image_tag "Glasses.jpg" %>
</div>
<br>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Get Started</div>
            <div class="panel-body">OliverClarity provides the basic services almost every start up needs: incorporation, trademark registration,
             and website terms of service. Documents created efficiently and inexpensively specifically for your business.
            </div>
    </div>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Build and Grow</div>
            <div class="panel-body">As your business grows, OliverClarity gives access to lawyers that handle a host of different issues like
            patent filings, international transactions, securities offerings, and litigation. Build a legal team - a corporate legal department -
            especially for your business.</div>
    </div>
</div>

<br>
<div class="center button-grp">
    <button class="btn btn-link"><%= link_to "Learn More", about_path %></button>
    <button class="btn btn-link"><%= link_to "Subscribe Now", new_user_path %></button>
    <button class="btn btn-link"><%= link_to "For Attorneys", new_attorney_path %></button>
</div>
</div>
