<div class="jumbotron">
    <div class="headline">
        <h1><span style="color:#f2b632">O</span>liver<span style="color:#f2b632">C</span>larity</h1>
    </div>
            <div class="subjumbo">
                <p>Terms of Service & Privacy Policy</p>
            </div>
</div>

<div class="container">
    <p>OLIVERCLARITY DOES NOT PROVIDE LEGAL SERVICES. NO ATTORNEY-CLIENT RELATIONSHIP IS CREATED BY ACCESSING OR USING THESE SERVICES.</p>
    <p>THIS IS A BINDING, LEGAL CONTRACT BETWEEN YOU AND SERVICE PROVIDER. THIS AGREEMENT GOVERNS YOUR ACCESS TO AND USE OF THE SERVICES (AS DEFINED BELOW).
    YOUR USE OF THE SERVICES PROVIDED BY OR THROUGH THIS WEBSITE CONSTITUTES ACCEPTANCE OF THIS AGREEMENT. IF YOU OBJECT TO ANY PART OR PORTION HEREOF
    DO NOT USE THE SERVICES.</p>
    <p>SITE & SERVICES. The Site includes www.oliverclarity.com, all of its constituent pages, all content on said websites and any constituent page, all URL’s associated 
    with or which lead to said websites, all associated applications on any platform (including without limitation Android and IOS), all trade dress and 
    monikers on said websites, all of Service Provider’s intellectual property contained anywhere on said websites (including without limitation all 
    trademarks, service marks, copyrights, and patents), the source and any other code, design elements, renditions, and copies of any of the foregoing. 
    The Site further includes any and all amendments, modifications, and changes of any nature whatsoever to the foregoing.</p>
    <p>PAYMENT. Payment for the Services or for any goods or products ordered through the Services or on the Site is due at the time of the placement of any order 
    and must be made through the payment portal accessible on the Site. Service Provider may, in its sole discretion, refuse to contract with any user.
    Prices are subject to change at any time. 1.	Service Provider is not responsible for shipment delay or failure caused by a third party shipper or force 
    majeure. Placement of an order constitutes the acknowledgement and representation of the user that (i) it is over the age of eighteen (18) and otherwise 
    eligible to use the Site and (ii) it is authorized to use the credit card or other method of payment through which payment is remitted. Credit cards may be 
    debited immediately upon provision by user of the required information. A declined or refused credit card shall be deemed a failure of consideration and 
    shall excuse any further action (or omission) by Service Provider. Service Provider is neither the agent nor the principal with respect to any third party 
    with which user may enter into a contract, shall not be bound by any third party contract, and shall have no liability thereunder. Service Provider shall 
    be under no obligation to refund any payment once remitted.</p>
    <p>SUBSCRIPTION. You shall provide true, accurate, current, and complete information as prompted by the Site and shall update such information from time
    to time as is necessary. The provision of false, inaccurate, or incomplete information or failure to maintain current information shall be grounds for 
    the immediate termination of this Agreement. You agree only you will use any account created with your subscription and that you will not share any 
    access information, including without limitation your login or password, with any third party. You are solely responsible for maintaining the security 
    of your login and password and agree to indemnify Service Provider for any loss, damage, claim, liability, or cause of action occasioned by the use of 
    such login and password by any third parties. In the event that you believe your account information has been compromised you are required to notify
    us immediately.</p>
    <p>CONTENT. All information, data, text, software, graphics, voice or sound files, photographs, videos, depictions, messages, emails, chats, text messages, 
    documents, and other such materials (“Content”) of Licensee or any third party used on or transmitted by or through (i) the Site or (ii) the use of the 
    Services shall be the sole and exclusive property of Licensee or such third party as appropriate. Service Provider does not warrant or guaranty the 
    accuracy, integrity, quality, veracity, or appropriateness for any purpose of such Content, and shall be held harmless and indemnified by Licensee for any 
    damages caused by or arising out of the use, reliance on, or application of the Content, including without limitation damages caused by errors, omissions, 
    inaccuracies, negligence, misrepresentations, or fraud. You shall not post on the Site, on your own behalf or on behalf of any third party, and shall 
    not permit others to post on the Site, any Content that, in whole or in part: (a) Is unlawful, harmful, threatening, abusive, harassing, tortious, 
    defamatory, vulgar, obscene, invasive of another’s privacy, or hate speech;(b) misrepresents the actual identity of a person, or that misrepresents or
    falsely represents an affiliation with a person or entity; (c) constitutes  advertising,  promotional  material,  junk  mail,  spam,  a  chain  letter,
    pyramid  scheme,  or  an  unauthorized solicitation; (d) is infected by or contains viruses, malware, spyware, worms, or any other code, files, or 
    programs designed to interrupt, destroy, or limit the functionality of any computer, software, hardware, program, or telecommunications equipment; 
    (e) is likely to interfere with or disrupt the Site or the Services, or any server or network connected thereto, or contravenes any requirements, 
    policies, procedures, or requirements of networks connected to the Site or the Service; (f) violates any federal, state, or local law, statute, 
    regulation, rule, code, or ordinance, or otherwise applicable laws regarding transmission of technical data; or (g) imposes an unreasonable or 
    disproportionate workload on Service Provider, the Site, or the Services. Service Provider shall not prescreen any Content but reserves the right 
    to remove without notice any Content that Service Provider deems, in its sole discretion, to constitute Prohibited Content. You acknowledge and 
    specifically authorize Service Provider to change, alter, or modify the Content as necessary in order to transmit it over one or more networks 
    and to conform and adapt it, the Site, or the Services to any technical requirements of connecting networks, devices, hardware, software, and the 
    like. Service Provider may preserve and disclose Content (i) when it is or reasonably determines that it is obligated to preserve and/or disclose 
    Content pursuant to any applicable international law, treaty, federal, state, or local law, statute, code, rule, regulation, or ordinance; (ii) to 
    comply with any legal process; (iii) to enforce the terms of this Agreement; (iv) to respond to complaints or claims that the Content violates any 
    third party rights; (v) to protect any right or property of Service Provider; and (vi) to protect the personal safety or property of any user of 
    the Site or the Services. a.	Service Provider does not warrant or guarantee continued access to any Content transmitted to or stored on the Site 
    or used in any manner on the Site or as part of the provision of the Services, and this Agreement further expressly excludes any warranty that such 
    Content will not be lost, damaged, or destroyed. Service Provider shall not maintain a copy, in whole or in part, of any Content, and further shall 
    be held harmless in the event of a failure to properly store any Content. Service Provider assumes no responsibility for, and shall be held harmless
    in the event of, any injury or damage to you arising out of the deletion of, failure communications, addresses, or personalization settings.</p>
    <p>SERVICE MODIFICATION. Service Provider may (i) establish general practices and use limits concerning the Site and the Services, (ii) limit 
    the size of communications that may be transmitted through the Site and the Services, (iii) limit the amount of Content that may be stored or 
    processed by you on or through the Site, (iv) limit your access to the Site as may be necessary and reasonable under the circumstances, (v) change 
    or modify its general practices in its sole discretion and with or without notice to you, (vi) change or modify the Site, the TOS, or the Services 
    in its sole discretion and with or without notice to you, (vii) quarantine prohibited Content; (viii) modify domain and user settings in its sole 
    discretion and with or without notice to you (including without limitation modifications designed to eliminate spam or bulk mail); and (ix) modify, 
    suspend, or discontinue the Site or the Services as necessary for routine maintenance, extraordinary repairs, or due to an attack by hackers or 
    other third party.</p>
    <p>TERMINATION. In the event of your breach of any term of this Agreement, Service Provider, in its sole discretion, may suspend or terminate your 
    account (including without limitation deactivation of your password) and remove and discard the Content, and delete any records concerning or 
    associated with your use of the Site or the Services. You agree that you are not entitled to any refund in the event of termination, and that 
    you will indemnify Service Provider and hold it harmless from any costs of any nature whatsoever caused by or attributable in whole or in part to 
    such termination.</p>
    <p>PROPRIETARY PROPERTY. The Site, the Services, and any software, hardware, platform, server, code, or other materials used in connection with 
    the Site and the Services (collectively “the Proprietary Materials”) all of which are owned by Service Provider and/or its affiliates contain 
    proprietary and confidential information not available to the public and protected by intellectual property and trade secret laws, including 
    without limitation the Uniform Trade Secrets Act as well as trademark and copyright protections. Subject to your continued compliance with the 
    terms of this Agreement, including without limitation payment of all sums due hereunder, Service Provider hereby grants to you a non-exclusive, 
    non-transferable license to use the Site and the Services on a computer. You shall not, by or through any representative, agent, employee, director,
    officer, shareholder, partner, member, or third party, reverse engineer, reverse assemble, attempt or purport to discover any source code; sell, 
    assign, sublicense, grant a security interest in or otherwise transfer any right in or to the Proprietary Materials; copy, modify, rent, lease, 
    loan, sell, distribute, or create derivative works of (or based on) the Proprietary Materials, in whole or in part; or use modified versions of 
    the Proprietary Materials, including without limitation obtaining unauthorized access to the Site or the Services. You may access the Site only 
    through the interfaces provided by or through Service Provider.</p>
    <p>REMEDIES. The parties acknowledge that any breach of (i) Service Provider’s rights in and to its Proprietary Property or (ii) the 
    Confidentiality provisions of this Agreement are such that legal remedies alone would be insufficient to protect Service Provider’s rights and 
    interests. The parties further agree that in the event of a breach or potential breach of either the Service Provider’s Proprietary Property or 
    the Confidentiality sections of this Agreement, or both, Service Provider may petition any court of competent jurisdiction for a restraining order, 
    injunction, or such other equitable remedy as it may deem appropriate, and Licensee expressly waives any defense to the inapplicability or 
    inappropriateness of such equitable remedies.</p>
    <p>THIRD PARTY PROVIDERS. Certain third parties may offer products and services through the Site. Each such third party is solely responsible for 
    the products or services it offers. Service Provider makes no warranty, guaranty, or representation concerning the availability, quality, fitness, 
    safety, or suitability of or with respect to any such product or service or of the person or entity that offers, provides, or sells such product or
    service and expressly disclaims any such warranties, express or implied, including without limitation any implied warranties of fitness for a 
    particular purpose or merchantability. You agree to indemnify Service Provider and hold it harmless from any loss, liability, damage, injury, or
    cause of action caused by or attributable to, in whole or in part, any negligent, grossly negligent, reckless, intentional, or willful act or 
    omission of such third party product or service provider. Service Provider does not warrant that the information, assistance, advice, or 
    consultation provided by any third party is accurate, beneficial, or will produce a desired result. Furthermore, Service Provider does not warrant or 
    represent that any third party is qualified to provide and specific information or advice. All such information, assistance, advice, and consultation is
    provided “AS IS” and subject to the warranty disclaimers set forth below. Users agree to indemnify Service Provider and hold it harmless from any
    claim, cause of action, injury, loss, or damage caused by or alleged to be caused by the information, recommendations, counsel, or advice provided
    by any third party.</p>
    <p>DISCLAIMER OF WARRANTIES. USE OF THE SITE AND THE SERVICES IS AT YOUR SOLE AND EXCLUSIVE RISK. THE SITE AND THE SERVICES ARE PROVIDED "AS IS" 
    AND "AS AVAILABLE". SERVICE PROVIDER EXPRESSLY DISCLAIMS ALL OTHER WARRANTIES, REPRESENTATIONS, GUARANTEES AND CONDITIONS OF ANY KIND, WHETHER 
    EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND 
    NON-INFRINGEMENT. ANY GOODS OR TANGIBLE MATERIALS PROCURED OR OBTAINED THROUGH THE WEBSITE, REGARDLESS OF ORIGIN, MANUFACTURER, OR PRODUCER, 
    ARE PROVIDED “AS IS” AND “AS AVAILABLE”. SERVICE PROVIDER EXPRESSLY DISCLAIMS ALL OTHER WARRANTIES, REPRESENTATIONS, GUARANTEES AND CONDITIONS 
    OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
    AND NON-INFRINGEMENT. SERVICE PROVIDER MAKES NO WARRANTY THAT (i) ANY INFORMATION OR ADVICE OBTAINED FROM THE USE OF THE SITE OR THE SERVICES WILL BE
    ACCURATE OR RELIABLE, (ii) THE QUALITY OF ANY SERVICES OR INFORMATION OBTAINED AS A RESULT OF THE USE OF THE SITE OR THE SERVICES WILL MEET LICENSEE’S
    EXPECTATIONS, AND (iii) ANY ERRORS THAT IMPAIR THE FUNCTIONALITY OF THE SITE OR THE SERVICES WILL BE REPAIRED. LICENSEE ASSUMES ALL RISK OF LOSS FROM
    DAMAGE TO ITS COMPUTERS, SOFTWARE, HARDWARE, DRIVES, CODE, DATA, INFORMATION, CONTENT, INTELLECTUAL PROPERTY, AND OTHER PROPERTY OF ANY NATURE
    WHATSOEVER CAUSED IN ANY MANNER OR BY ANY METHOD FROM MATERIAL TRANSMITTED, RECEIVED, DOWNLOADED OR OTHERWISE OBTAINED OR SENT USING THE SITE.
    YOU ASSUMES ALL RISK OF LOSS CAUSED BY VIRUSES, MALWARE, WORMS, OR OTHER PROGRAMS OR MATERIALS TRANSMITTED BY OR THROUGH THE SITE.</p>
    <p>PRIVACY. You acknowledge that Service Provider may collect personally identifiable, confidential, proprietary, trade secret, intellectual 
    property, business, financial, and similar information of Licensee (“Licensee Proprietary Information”). Except as set forth elsewhere in this 
    Agreement, Service Provider shall not knowingly sell, rent, lease, transfer, or disclose any Licensee Proprietary Information unless (i) you 
    consent to such sale, lease, transfer, or disclosure; (ii) sale, lease, transfer, or disclosure by Service Provider is necessary to the provision 
    of the Services; or (iii) as necessary due to your breach of this Agreement. Service Provider may change the provisions of this section as it 
    deems necessary in its sole discretion and shall provide notice of same as mandated by this Agreement.</p>
    <p>LIMITATION OF LIABILITY. In no event shall Service Provider be liable to you for any incidental, indirect, special, consequential, or punitive
    damages, regardless of the nature of the claim or liabilities to third parties arising from any source, even if a party to this Agreement has been
    advised of the possibility of damages.</p>
    <p>JURY TRIAL WAIVER. IN THE EVENT OF ANY DISPUTE BETWEEN THE PARTIES, THE PARTIES HEREBY VOLUNTARILY AND KNOWINGLY WAIVE THE RIGHT TO A TRIAL
    BY JURY ON ANY ISSUE AND IN ANY CAUSE OF ACTION.</p>
    <p>CLASS ACTION WAIVER. In the event of a dispute between the parties, resolution of same, whether by arbitration, litigation, or otherwise, shall proceed solely on an individual basis. You hereby waive any right to assert any claim or cause of action on a class action basis or on bases involving claims brought in a purported representative capacity on behalf of others. Claims may not be joined or consolidated unless agreed to in writing by all parties. 
    No award or decision will have any preclusive effect as to issues or claims in any dispute with anyone who is not a named party.</p>
    <p>COMPLIANCE WITH COPPA & CalOPPA. The Site and Services are not intended for access or use by children under the age of 13 years.
    Service Provider maintains a conspicuous Privacy Policy set forth below which is incorporated into this Agreement as if repeated verbatim.</p>
    <p>MISCELLANEOUS PROVISIONS. Failure of a party to enforce any provision of this Agreement shall not constitute a waiver of such provision or of
    the right of a party at any time to avail itself of such remedies as it may have for any breach or breaches of such provision. The provisions of
    this Agreement are severable. Should any part or portion hereof be deemed void or unenforceable by a court of competent jurisdiction, the remaining
    parts and portion shall remain in full force and effect. This Agreement represents the entire understanding by and between the parties and supersedes
    any other representations, promises, or statements not wholly consistent herewith. This Agreement may only be modified by a writing signed by both
    parties. The parties acknowledge the receipt and sufficiency of the consideration set forth in this Agreement. This Agreement shall be construed
    pursuant to the laws of New York State without regard to its conflict of law provisions. Any lawsuit brought to interpret or enforce the terms of this
    Agreement shall be filed in the appropriate state or federal court with jurisdiction and venue over New York County, New York. The parties hereby waive
    any defense of improper venue, lack of personal jurisdiction, or forum non conveniens. You warrant that you read the foregoing Agreement, understand
    and acknowledge each of its provisions, have the authority to execute this Agreement on your own behalf as well as on behalf of any entity or third
    party signatory, and agree on your behalf and on behalf of any entity or third party signatory to be bound by the terms and conditions herein. Service
    Provider shall be entitled to recoup from you its costs, including without limitation its reasonable attorneys’ fees, in bringing or defending any
    lawsuit or other proceedings that concern in whole or in part the enforcement and/or interpretation of this Agreement. Service Provider shall not be 
    liable in the event that the performance of any obligation of Service Provider hereunder is rendered impossible by any circumstance beyond its control
    and not created by its own act or omission, including flood, fire, and other natural disasters, war, riot or social unrest, work stoppage, act of
    terrorism, and Acts of God. Service Provider shall resume performance pursuant to the provisions of this Agreement upon the abatement of the force
    majeure. Any notice required to be given to Licensee may be made, in Service Provider’s sole discretion, by posting same conspicuously on the Site
    or by email to any email address provided by you. Notice to Service Provider shall by email at admin@oliverclarity.com.</p>
</div>


    


<div class="container">
    <h3 class="center">Privacy Policy</h3>
    <p>COLLECTED INFORMATION. SERVICE PROVIDER uses the information you provide to (i) operate, maintain, and offer the features and functionality of
    the SERVICE, (ii) analyze how the SERVICE is used, (iii) diagnose service or technical problems, (iv) maintain security, (v) personalize content,
    (vi) store and remember information to help you more efficiently access your account, (vii) monitor metrics including without limitation the total
    number of visitors, traffic, and demographic patterns, and (viii) track content and users so as to comply with all applicable law, rules, and
    regulations, including without limitation that Digital Millennium Copyright Act. SERVICE PROVIDER takes commercially reasonable measures to protect
    the security of user data.</p>
    <p>USER INFORMATION. You are providing information about yourself such as your name and email address. We collect this information if you sign up
    for the SERVICE, follow us on social media and related sites such as Facebook and Twitter, or download or apply for any applications offered by
    SERVICE PROVIDER through any third party site or network. Depending on your settings and authorizations on the SERVICE, the information you choose
    to provide will be viewable by and accessible to third parties. SERVICE PROVIDER will display your information on the SERVICE in accordance with
    your authorizations and security preferences. The information that you provide for inclusion on the SERVICE should reflect how much you want others
    to know about you. Consider this carefully before disclosing any information and recognize that the more content you provide the less anonymous you
    may be. You can review and revise your user information at any time. SERVICE PROVIDER may share or disclose information with your consent. You are
    not obligated to provide any information to SERVICE PROVIDER. However, the failure to provide SERVICE PROVIDER with certain information may limit
    or otherwise impact the services available on the SERVICE.</p>
    <p>EMAIL. We may use your email address to send you notices related to the SERVICE (including notices required by law). Notices may include 
    marketing materials. You may opt out of receiving marketing materials via email to []. Communication by email may be public, including your name,
    email address, the content of any messages you send to the SERVICE, and the content of any message the SERVICE sends to you. You agree to be
    contacted by email as opposed postal mail.</p>
    <p>INVITATIONS. If you use any invitation service to invite third parties to the SERVICE, you will be asked to provide that party’s email address
    and automatically send that party an email invitation. SERVICE PROVIDER stores the information needed to send in the email, to register the third 
    party if that third party accepts the invitation, and to track the metrics associated with any invitation service we might offer.</p>
    <p>CONTENT. You also provide information in the content that you post on the SERVICE. This content and metadata may be accessed by other users
    based on your security settings and authorizations. SERVICE PROVIDER can, but is not obligated to, monitor content posted on the SERVICE.
    It can remove any information that you post for any reason or no reason. Except for content viewable in accordance with your authorizations and
    security settings, SERVICE PROVIDER and its agents and employees will not view your content except to (i) maintain, provide, or improve the
    SERVICE, (ii) provide assistance to you and resolve support requests, or (iii) comply with or avoid violation of applicable law or otherwise 
    cooperate with law enforcement, all in SERVICE PROVIDER’s sole discretion.</p>
    <p>COOKIES. When you use the SERVICE, we may send one or more cookies to your computer to uniquely identify your browser and let SERVICE
    PROVIDER help you log in faster and enhance site navigation. Persistent cookies may be removed per your web browser’s instructions. You 
    can also set your web browser to refuse all cookies or to indicate when a cookie is being sent. Some SERVICE features may not function properly
    if the ability to accept cookies is disabled.</p>
    <p>LOG FILES. When you use the SERVICE our servers automatically record certain information sent by your web browser. These server logs may include information
    such as your web request, IP address, browser type, referring/exit pages, URLs, number of clicks, how you interact with links on the SERVICE, domain
    names, landing pages, pages viewed, mobile carrier, and similar information.</p>
    <p>CLEAR GIFS. We may employ clear gifs (also known as “web beacons”) to track online usage patterns. We may also use clear gifs in HTML-based
    emails sent to our users to track which emails are opened by recipients. The information is used to enable more accurate reporting and improve
    the SERVICE.</p>
    <p>LOCATION DATA. When you use the SERVICE by or through a mobile device, SERVICE PROVIDER may access, collect, monitor, and/or remotely store
    location data. Location data may convey to SERVICE PROVIDER information about how you use the SERVICE. It does not collect or provide us with
    personally identifying information about you; however, location data may be used in conjunction with personally identifying information. Some
    features of the SERVICE may not operate properly if use or availability of location data is limited or disabled.</p>
    <p>DEVICE IDENTIFIERS. When a user accesses the SERVICE by or through a mobile device, SERVICE PROVIDER may access, collect, monitor, and/or
    remotely store one or more device identifiers. SERVICE PROVIDER may use device identifiers to improve the SERVICE. The device identifier may
    provide SERVICE PROVIDER with information about how you use the SERVICE but it does not collect or share personally identifying information.
    However, a device identifier may be used in conjunction with personally identifying information and may remain on your device to speed up the
    login process and enhance navigation on the SERVICE. Some aspects of the SERVICE may not function properly if the availability and use of device
    identifiers is limited or disabled. SERVICE PROVIDER may access, collect, and store device identifiers once the user enables the SERVICE.</p>
    <p>THIRD PARTY TOOLS. SERVICE PROVIDER may use third party tools (e.g. Google Analytics or similar tools) to study SERVICE usage and performance. 
    Many of these tools collect the information sent by your web browser as part of a web page request (including cookies and your IP address). These
    tools receive the information provided to SERVICE PROVIDER and use it as governed by their own privacy policies.</p>
    <p>SHARING INFORMATION. SERVICE PROVIDER may share your personally identifying information with third parties for the purpose of providing
    the SERVICE. Information may also be stored in locations outside of SERVICE PROVIDER’s direct control. SERVICE PROVIDER may share your information
    with a third party application with your consent including without limitation when you access the SERVICE through such third party application.
    SERVICE PROVIDER is not responsible for any third party’s use or disclosure of your information. You should only use applications that you trust
    and that have privacy policies that you consider acceptable.</p>
    <p>THIRD PARTY INFORMATION. As SERVICE PROVIDER develops its business, it may buy or sell assets or make certain offerings. Customer information
    is generally one of the transferred assets. Information may also be transferred or assigned in the event of a divestiture, merger,
    or dissolution.</p>
    <p>DISCLAIMER OF WARRANTIES. No method of electronic transmission or storage is completely secure. The SERVICE is provided “AS IS” and 
    SERVICE PROVIDER makes no warranty, express or implied, concerning the security or integrity of any user data. All implied warranties, 
    including without limitation the implied warranties of merchantability or fitness for a particular purpose, are hereby disclaimed.</p>
    <p>CHILDREN'S PRIVACY. The SERVICE is not intended for use by anyone under the age of 13 years. SERVICE PROVIDER does not knowingly collect or
    solicit personal information from anyone under the age of 13 years or knowingly allow such persons to register for the SERVICE. If SERVICE
    PROVIDER learns that it has collected personal information from a child under the age of 13 years without verification of parental consent, 
    SERVICE PROVIDER will promptly take steps to remove that information. If you believe that SERVICE PROVIDER has or may have information from or
    about a child under 13 years of age, please contact SERVICE PROVIDER at admin@oliverclarity.com.</p>
    <p>LINKS. SERVICE PROVIDER is not responsible or liable for the practices employed by the owners or users of websites linked to or from the 
    SERVICE. Furthermore, SERVICE PROVIDER is not responsible or liable for the information or content on such third party sites. This Privacy Policy 
    is only in effect for the SERVICE and not for any third party website and you are subject to the terms of use and privacy and other policies of
    such third party website.</p>
    <p>DISCUSSION ROOMS. Any information posted in a discussion room, group room, blog, or the like is considered publicly accessible and the
    user should not post any information it wishes to keep confidential.</p>
    <p>MODIFICATION. SERVICE PROVIDER reserves the right to change this Policy from time to time and in its sole discretion. The modifications will
    take effect immediately upon posting on the SERVICE website.</p>
    <br>
    <p> Revised October 5, 2016</p>
</div>