<div class="center jumbotron">
    <h2>Terms of Service and Privacy Policy</h2>
    <h4>Intake</h4>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Instructions</div>
        <div class="panel-body">Please complete the form below and click 'Submit'. We will prepare draft Terms of Service (including
        a privacy policy) for you to review and follow up with you shortly thereafter.</div>
</div>

<%= render 'form', webdoc: @webdoc %>