<div class="jumbotron center">
    <h2>Attorneys</h2>
    <h4>Information and Application</h4>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">What role do attorneys play at OliverClarity?</div>
            <div class="panel-body">OliverClarity is not a law firm and does not make referrals. Our mission is to empower entrepreneurs
            to take control over business legal issues. We also feature lawyers with various disciplines from different jurisdicitons so that
            our users can connect with qualified practitioners.The listings are a resource for the users. It is the user's decision to retain counsel
            and which lawyer(s) to hire. We will not recommend a particular attorney featured on the site.</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Do I have to be a featured attorney to use OliverClarity?</div>
            <div class="panel-body">No. If you have or enter into a relationship with an OliverClarity user, the user may invite you to
            join its virtual legal department. You will have the level of access granted to you by the user (i.e. admin or guest). No 
            separate relationship with OliverClarity is necessary.</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">What is a featured attorney?</div>
            <div class="panel-body">We feature a limited number of attorneys as a resource to our users who may need services. We do not
            make referrals. Lawyers are chosen based on jurisdiction, practice area, experience, and expertise. Because OliverClarity allows
            lawyers to build their own corporate legal departments, attorneys must be sole practitioners or have an ownership interest in a firm
            of five lawyers or less. Featured attorneys are required to be licensed in good standing and to maintain malpractice insurance.</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">What does it cost to be a featured attorney?</div>
            <div class="panel-body">There is currently no charge to be a featured attorney. However, a featured attorney is required to provide 
            one hour of free consultation per month to any user that hires the lawyer through OliverClarity. This policy incentivizes users to 
            continue using OliverClarity and reaching out to the featured attorney on a regular basis.</div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">Apply to be a featured attorney.</div>
      <div class="panel-body">Please complete and submit this form in full. We will contact you to discuss becoming a featured attorney shortly after
      receipt.</div>
  </div>
</div>

<%= render 'form', attorney: @attorney %>
