<footer>
  
  <small>
    &copy 2016 OliverClarity Inc.
  </small>
  
  <ul class="footer_menu">
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Terms", terms_path %></li>
  </ul>
</footer>